build/CMakeFiles
build/logs
build/Makefile
build/calibration
build/cmake_install.cmake
build/CMakeCache.txt
build/hog_detector
build/match_Tsukuba_LBP
build/positioning_MT
build/stereo_camera
build/sub_image
build/test
build
!build/images/test_img
!build/camera
token
!.gitignore